body {
  background-color: rgb(61, 243, 228);
 }
 .jumbotron {
   background-image: url("https://img.freepik.com/premium-photo/stock-market-forex-trading-graph-graphic-double-exposure_73426-193.jpg?w=826")
 }
 #header.jumbotron {
   color: #2f2dbe !important;
 }
 h1 {
   background-color:rgb(255, 255, 255);
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

 }
 h2 {
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: x-large;
   margin-top: 0;


 }
 #bar {
   border-radius: 100px !important;

 }
 #bar2 {
  border-radius: 100px !important;

}
#bar3 {
  border-radius: 100px !important;

}
 #images, #chartbox1, #chartbox2, #chartbox3, #marginbox {
   padding: 4px;
   background-color: white;
   border: 1px solid #60797f;
   border-radius: 50px !important;
   margin-bottom: 50px;
 }


 .well {
   border: 1px solid #60797f;
 }

 .center{
   text-align: center !important;
 }

 #footer {
   background-color:rgba(97, 79, 87, 0.4);
   border-radius: 5px !important;
   padding: 20px;
 }

 #footer a {color: #444;}

 /* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #0d0ae0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;  
}

.topnav a:hover {
  border-bottom: 3px solid rgb(21, 0, 255);
}

.topnav a.active {
  border-bottom: 3px solid rgb(0, 0, 255);
}
